{% extends 'blog/base.html' %}
{% block content %}
<main role="main" class="container">
  <div class="row">

    <div class="col-sm-8 blog-main">
      {% for post in posts %}
      <div class="blog-post">
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil">Editar</span></a>
        {% endif %}
        <h2 class="blog-post-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p class="blog-post-meta">{{ post.published_date }} by <a href="#">{{ post.author }}</a></p>
        <p>{{ post.text|linebreaksbr }}</p>
      </div><!-- /.blog-post -->
      {% endfor %}

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
      </nav>

    </div><!-- /.blog-main -->

    <aside class="col-sm-3 ml-sm-auto blog-sidebar">
      <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a target="_blank" href="https://github.com/riverbot">GitHub</a></li>
          <li><a target="_blank" href="https://twitter.com/Reaverb0t">Twitter</a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->
{% endblock %}