{% extends 'blog/base.html' %}
{% block content %}
<header>
  <div class="blog-header">
    <div class="container">
      <h1 class="blog-title">{{ post.title }}</h1>
    </div>
  </div>
</header>

<main role="main" class="container">
  <div class="blog-masthead">
    <div class="sidenav">
      <nav class="nav flex-column">
        {% for topic in posts %}
          <a class="nav-link" href="{% url 'monta_url' category topic.pk %} ">{{ topic.title }}</a>
        {% endfor %}
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 blog-main">
      <div class="blog-post">
        <p>{{ post.text|linebreaksbr }}</p>
      </div><!-- /.blog-post -->
    </div><!-- /.blog-main -->
  </div><!-- /.row -->
</main><!-- /.container -->
{% endblock %}